.bgBottomImg{
    top: -10%;
    z-index: 1;
    height: 220px;
    width: 230px;
    position: absolute;
    background-color: #ed85ab;
    border-radius: 10px 100px 110px;
}

.bottomImg{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.bottomImg img {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 10;
}

p{
    color: #ed85ab;
    padding-right: 600px;
    
}

.student {
    color: #8c8c8c;
    padding-right: 535px;
}