.instuctorContent{
    display: flex;
}

// .text{
//     font-weight :bold;
//     padding-right: 1200px;
// }

a{
    padding-right: 1200px;
}
.row{
    display: flex;
}

.instructorContainer{
    display: flex;
}

